* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
  background-color: beige;
  color: black;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 8%;
}
